{
  "ConnectionStrings": {
    "Default": "Host=localhost;Port=5432;Database=provavida_dev;Username=postgres;Password=SUA_SENHA"
  },
  "Jwt": {
    "SecretKey": "chave-secreta-minimo-32-caracteres-trocar!"
  },
  "Email": {
    "Host": "smtp.sendgrid.net",
    "Port": "587",
    "Usuario": "apikey",
    "Senha": "SUA_SENDGRID_API_KEY",
    "NomeRemetente": "ProvaVida",
    "EmailRemetente": "noreply@provavida.com"
  },
  "WhatsApp": {
    "Token": "SEU_WHATSAPP_TOKEN",
    "PhoneNumberId": "SEU_PHONE_NUMBER_ID"
  }
}
